/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */

@use 'mixins' as *;

.container{
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include mq('tablet', min) {
  }
  @include mq('desktop', min) {
    max-width: 1146px;
    padding: 0 27px;
    box-sizing: content-box;
  }
}
